<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BlogSphere</title>
</head>
<body>
    <header>
        <img src="https://icon-library.com/images/blogger-icon-png/blogger-icon-png-27.jpg"alt="App Icon" style="width: 50px; height: 50px;">

        <h1>BlogoSphere</h1>
        <br/>
        <nav>
            
            <a href="/">Home</a>
            <a href="/create">Create Post</a>
            

        </nav>
    </header>
    <main>
        <%= body %>
    </main>
</body>
</html>
